<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/home" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">home</mat-icon>
      <span>Home</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/network" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">people_alt</mat-icon>
      <span>My network</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/message" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">message</mat-icon>
      <span>Messages</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/events" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">insert_invitation</mat-icon>
      <span>Events</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/news" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">chrome_reader_mode</mat-icon>
      <span>News</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/vacancies" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">work_outline</mat-icon>
      <span>Vacancies</span>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar-row">
    <a routerLink="/profile/companies" routerLinkActive="active" class="item">
      <mat-icon class="material-icons-outlined">business</mat-icon>
      <span>Companies</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
