@import "../../../css-variables";

app-user {
  outline: none;
  margin: 0 70px;
}

.toolbar {
  background-color: transparent;
  font-size: $font-size;
  font-weight: 300;

  .toolbar-row {
    .item {
      text-decoration: none;
      color: $black;
      width: 100%;
      padding: 8px 20px;

      &:hover {
        background-color: $bg-color-grey;
        border-radius: $large-radius;
      }

      mat-icon {
        position: relative;
        top: 6px;
      }

      span {
        padding-left: 8px;
      }
    }

    .item.active {
      background-color: $bg-color-grey;
      border-radius: $large-radius;
    }
  }
}

@media (max-width: 599px) {
  app-user {
    display: none;
  }
}

