@import "../../../css-variables";

.mdc-layout-grid__inner {
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    background-color: $bg-color;
    border-radius: $large-radius;
    border: none;
    width: 100%;
    padding: 10px 55px 10px 25px;
    outline-style: none;
  }

  .icon-search {
    position: relative;
    right: 40px;
  }
}

.notification {
  display: flex;
  justify-content: flex-start;

  mat-icon {
    cursor: pointer;
  }

  mat-icon:not(:first-child) {
    margin-left: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;

  .user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .user-info {
    font-size: 14px;
    font-family: $font-family;
    letter-spacing: 1px;
    margin-left: 15px;
    overflow: hidden;

    .user-name {
      font-weight: 400;
      margin: 0;
    }

    .user-profession {
      margin: 5px 0 0 0;
      font-weight: 100;
    }
  }

  i {
    border: solid darken($bg-color, 50%);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;

    transition: all 0.5s ease;
  }

  .arrow-down {
    transform: rotate(45deg);
  }

  .arrow-up {
    transform: rotate(-135deg);
  }
}

.header-menu-overlay {
  .mat-menu-content {
    background-color: $black;
    width: 192px;

    button {
      color: $white;
    }
  }
}


