<div class="header-wrapper">
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">

      <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-phone logo">
        <img src="{{this.logoImg}}" />
      </div>

      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone search">
        <input type="text" placeholder="Enter keyword">
        <mat-icon class="icon-search">search</mat-icon>
      </div>

      <div class="mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-1-phone notification">
        <mat-icon class="material-icons-outlined icon-hover">message</mat-icon>
        <mat-icon class="material-icons-outlined bell icon-hover"
                  [class.ringing]="isReceiveNewMessages"
                  (mouseenter)="onBellMouseEnter()"
        >notification_important</mat-icon>
        <span class="count" [class.bubble]="isHaveNewMessages">3</span>
      </div>

      <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-3-phone header-menu-control">
        <div class="header-menu-container" [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
          <app-user></app-user>
          <i [ngClass]="isMenuOpen ? 'arrow-up' : 'arrow-down'"></i>
        </div>
        <mat-menu class="header-menu-overlay" #menu="matMenu">
          <button mat-menu-item routerLink="/profile/cv">View profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </div>

    </div>
  </div>
</div>
