@import "../../../css-variables";

.header {
  .mdc-layout-grid__inner {
    align-items: center;
  }
}

.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    background-color: $bg-color;
    border-radius: $large-radius;
    border: none;
    width: 100%;
    padding: 10px 55px 10px 25px;
    outline-style: none;
  }

  .icon-search {
    position: relative;
    right: 40px;
  }
}

.notification {
  display: flex;
  justify-content: flex-start;
  position: relative;

  mat-icon:first-child {
    margin-left: -20px;
  }

  mat-icon:not(:first-child) {
    margin-left: 5px;
  }

  .count {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    font-size: 12px;
    font-weight: 700;
    color: $white;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 1px;
    background-color: $red;
    border-radius: 50%;
    border: 2px solid $white;

    transition: transform 0.2s ease-out;
    transform: scale(0);
  }

  .count.bubble {
    transform: scale(1);
  }

  .ringing {
    animation: ring 4s .7s ease-in-out infinite;
  }

  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;

  .user-pic {
    width: 50px;
    border-radius: 50%;

    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  .user-info {
    font-size: 14px;
    font-family: $font-family;
    letter-spacing: 1px;
    margin-left: 15px;
    overflow: hidden;

    .user-name {
      font-weight: 400;
      margin: 0;
    }

    .user-profession {
      margin: 5px 0 0 0;
      font-weight: 100;
    }
  }

  i {
    border: solid darken($bg-color, 50%);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;

    transition: all 0.5s ease;
  }

  .arrow-down {
    transform: rotate(45deg);
  }

  .arrow-up {
    transform: rotate(-135deg);
  }
}

.header-menu-overlay {
  .mat-menu-content {
    background-color: $bg-color;
    width: 192px;

    button {
      color: $black;
    }
  }
}


