<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">

    <div class="mdc-layout-grid__cell--span-3 logo">
      <img src="../../../assets/logo.png" />
    </div>

    <div class="mdc-layout-grid__cell--span-6 search">
      <input type="text" placeholder="Enter keyword">
      <mat-icon class="icon-search">search</mat-icon>
    </div>

    <div class="mdc-layout-grid__cell--span-1 notification">
      <mat-icon class="material-icons-outlined">message</mat-icon>
      <mat-icon class="material-icons-outlined bell"
                [ngClass]="isReceiveNewMessages ? 'ringing' : ''"
                (mouseenter)="onBellMouseEnter()"
      >notification_important</mat-icon>
      <span class="count" [ngClass]="isHaveNewMessages ? 'bubble' : ''">3</span>
    </div>

    <div class="mdc-layout-grid__cell--span-2">
      <div class="menu" [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
        <img class="user-pic" src="../../../assets/user-pic.jpeg"/>
        <div class="user-info">
          <p class="user-name">Isa Ugurchiev</p>
          <p class="user-profession">Frontend Developer</p>
        </div>
        <i [ngClass]="isMenuOpen ? 'arrow-up' : 'arrow-down'"></i>
      </div>
      <mat-menu class="header-menu-overlay" #menu="matMenu">
        <button mat-menu-item>Logout</button>
        <button mat-menu-item>Settings</button>
      </mat-menu>
    </div>

  </div>
</div>
