<div class="user-card">

  <section class="user-brief">
    <div class="user-image">
      <img class="user-pic" src="{{this.userProfileImg}}" alt="user pic" />
      <button class="edit-btn">Edit profile</button>
    </div>

    <div class="user-info">
      <div class="personal">
        <p class="user-name">{{this.userName}}</p>
        <p class="user-profession">{{this.userProfession}} at IPONWEB</p>
        <p class="user-city">Moscow, Russian Federation</p>
      </div>

      <div class="brief-experience-list">
        <p class="brief-experience-list-item"><img src="./assets/iponweb.png" alt="IPONWEB"/><span>IPONWEB</span></p>
        <p class="brief-experience-list-item"><img src="./assets/mephi.png" alt="Mephi"/><span>National Research Nuclear University MEPhI (Moscow Engineering Physics Institute)</span></p>
      </div>
    </div>
  </section>

  <section class="experience">
    <h3 class="fw-400">Experience</h3>
    <div class="section-list">
      <div class="section-list-item">
        <label class="current">Current</label>
        <div class="summary">
          <img src="./assets/iponweb.png" alt="IPONWEB"/>
          <div>
              <p class="fw-400">Frontend Developer</p>
              <p>IPONWEB <span class="separator">Full-time</span></p>
              <p class="fw-100">Apr 2019 &mdash; Present <span class="separator">1 yr 2 mos</span></p>
              <p class="fw-100">Moscow, Russian Federation</p>
          </div>
        </div>
        <div class="details">
          <p>Creating UI for Supply Side Platform focused on Digital Out Of Home advertising via RTB and direct demand.
            <br/>
            <br/>
            Technologies: HTML, CSS, Typescript, Angular, Webpack, Git
          </p>
        </div>
      </div>

      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/ibm.png" alt="IBM"/>
          <div>
            <p class="fw-400">Software Engineer</p>
            <p>IBM<span class="separator">Full-time</span></p>
            <p class="fw-100">Sep 2015 &mdash; Sep 2018 <span class="separator">3 yr 1 mos</span></p>
            <p class="fw-100">Moscow, Russian Federation</p>
          </div>
        </div>
        <div class="details">
          <p>Creating UI Single-page application to handle specific jobs such as tracking inventory, storing, retrieving and visualization data, or controlling other equipment.
            <br/>
            <br/>
            Technologies: HTML, CSS, JS, ExtJS, Gulp, Git/SVN
          </p>
        </div>
      </div>

      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/google.png" alt="Google"/>
          <div>
            <p class="fw-400">Full Stack Web Developer</p>
            <p>Google<span class="separator">Full-time</span></p>
            <p class="fw-100">Apr 2013 &mdash; July 2015 <span class="separator">2 yr 3 mos</span></p>
            <p class="fw-100">Moscow, Russian Federation</p>
          </div>
        </div>
        <div class="details">
          <p>Creating UI for Supply Side Platform focused on Digital Out Of Home advertising via RTB and direct demand.
            <br/>
            <br/>
            Technologies: HTML, CSS, Typescript, Angular, Webpack, Git
          </p>
        </div>
      </div>

      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/apple.png" alt="Apple"/>
          <div>
            <p class="fw-400">Full Stack Web Developer</p>
            <p>Apple<span class="separator">Full-time</span></p>
            <p class="fw-100">Oct 2011 &mdash; May 2012 <span class="separator">8 mos</span></p>
            <p class="fw-100">Moscow, Russian Federation</p>
          </div>
        </div>
        <div class="details">
          <p>Creating UI for Supply Side Platform focused on Digital Out Of Home advertising via RTB and direct demand.
            <br/>
            <br/>
            Technologies: HTML, CSS, Typescript, Angular, Webpack, Git
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="education">
    <h3 class="fw-400">Education</h3>
    <div class="section-list">
      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/mephi.png" alt="Mephi"/>
          <div>
            <p class="fw-400">National Research Nuclear University MEPhI (Moscow Engineering Physics Institute)</p>
            <p>Specialist / Cybernetics (Automated systems for information processing and control)</p>
            <p class="fw-100">2006 &mdash; 2011</p>
            <p class="fw-100">Moscow, Russian Federation</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="certifications">
    <h3 class="fw-400">Certifications</h3>
    <div class="section-list">
      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/hacker-rank.png" alt="HackerRank"/>
          <div>
            <p class="fw-400">Hacker Rank JavaScript (Basic) Certificate</p>
            <p>HackerRank</p>
            <p class="fw-100">Issued Apr 2020 <span class="separator">No Expiration Date</span></p>
          </div>
        </div>
      </div>
      <div class="section-list-item">
        <div class="summary">
          <img src="./assets/skyeng.jpeg" alt="SkyEng"/>
          <div>
            <p class="fw-400">English As A Second Language</p>
            <p>SkyEng</p>
            <p class="fw-100">Issued Mar 2020 <span class="separator">No Expiration Date</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="skills">
    <h3 class="fw-400">Skills</h3>
    <div class="tags-list">
      <span>JavaScript</span>
      <span>HTML</span>
      <span>CSS3</span>
      <span>Git</span>
      <span>Angular</span>
    </div>
  </section>

  <section class="interests">
    <h3 class="fw-400">Interests</h3>
    <div class="tags-list">
      <span>Football</span>
      <span>Maths</span>
      <span>Algorithms</span>
    </div>
  </section>
</div>
