<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">

    <div class="mdc-layout-grid__cell--span-4">
      <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
          <div mat-card-avatar class="mat-card-avatar" style="background-image: url('../../../../assets/github.png')"></div>
          <mat-card-title class="mat-card-title">GitHub</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">Python Developer</mat-card-subtitle>
          <div class="actions">
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <mat-icon class="material-icons-outlined">email</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <p>Looking for senior Python Developer (Django) in strong IT company</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Berlin</p>
          <p>1 day ago</p>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="mdc-layout-grid__cell--span-4">
      <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
          <div mat-card-avatar class="mat-card-avatar" style="background-image: url('../../../../assets/microsoft.png')"></div>
          <mat-card-title class="mat-card-title">Microsoft</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">UX Designer</mat-card-subtitle>
          <div class="actions">
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <mat-icon class="material-icons-outlined">email</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <p>Looking for senior Python Developer (Django) in strong IT company</p>
        </mat-card-content>
        <mat-card-footer>
          <p>London</p>
          <p>1 day ago</p>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="mdc-layout-grid__cell--span-4">
      <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
          <div mat-card-avatar class="mat-card-avatar" style="background-image: url('../../../../assets/ibm.png')"></div>
          <mat-card-title class="mat-card-title">IBM</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">Data Engineer</mat-card-subtitle>
          <div class="actions">
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <mat-icon class="material-icons-outlined">email</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <p>Looking for senior Python Developer (Django) in strong IT company</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Paris</p>
          <p>2 days ago</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-4">
      <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
          <div mat-card-avatar class="mat-card-avatar" style="background-image: url('../../../../assets/google.png')"></div>
          <mat-card-title class="mat-card-title">Google</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">Python Developer</mat-card-subtitle>
          <div class="actions">
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <mat-icon class="material-icons-outlined">email</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <p>Looking for senior Python Developer (Django) in strong IT company</p>
        </mat-card-content>
        <mat-card-footer>
          <p>San Francisco</p>
          <p>5 days ago</p>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="mdc-layout-grid__cell--span-4">
      <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
          <div mat-card-avatar class="mat-card-avatar" style="background-image: url('../../../../assets/apple.png')"></div>
          <mat-card-title class="mat-card-title">Apple</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle">UX Designer</mat-card-subtitle>
          <div class="actions">
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <mat-icon class="material-icons-outlined">email</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <p>Looking for senior Python Developer (Django) in strong IT company</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Los Angeles</p>
          <p>week ago</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>



