@import "../../../../css-variables";

.user-brief {
  display: flex;
  flex-flow: column;

  height: 350px;
  background: url('../../../../assets/bg-connections.jpg') no-repeat;

  font-family: $font-family;
  font-weight: 300;
  padding: 80px 20px 0 20px;

  p {
    margin: 10px 0;
  }

  .user-pic {
    border-radius: 50%;
    width: 200px;
    border: 2px solid $bg-color-grey;
  }

  .user-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    .personal {
      width: 400px;
    }

    .experience-list {
      width: 300px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;

      .experience-list-item {
        display: flex;
        align-items: center;
        margin-top: 0;

        img {
          width: 48px;
        }

        span {
          margin-left: 15px;
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .user-name {
      font-weight: 400;
      font-size: 18px;
      margin: 0;
    }

    .user-profession {
      font-weight: 400;
    }

    .user-city {

    }
  }
}
