<div class="user-card">

  <section class="user-brief">
    <div class="user-image">
      <img class="user-pic" src="{{this.userProfileImg}}" alt="user pic" />
    </div>

    <div class="user-info">
      <div class="personal">
        <p class="user-name">{{this.userName}}</p>
        <p class="user-profession">{{this.userProfession}} at IPONWEB</p>
        <p class="user-city">Moscow, Russian Federation</p>
      </div>

      <div class="experience-list">
        <p class="experience-list-item"><img src="./assets/iponweb.png" alt="IPONWEB"/><span>IPONWEB</span></p>
        <p class="experience-list-item"><img src="./assets/mephi.png" alt="Mephi"/><span>National Research Nuclear University MEPhI (Moscow Engineering Physics Institute)</span></p>
      </div>
    </div>
  </section>



</div>
