<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell--span-7 mdc-layout-grid__cell--span-4-phone">
    <form [formGroup]="cvForm" (ngSubmit)="onSubmit(cvForm.value)">
      <h1>Edit</h1>
      <section>
        <div class="form-control">
          <label for="firstName">First name <span>&#42;</span></label>
          <input id="firstName" type="text" formControlName="firstName">
          <div class="error" *ngIf="cvForm.controls['firstName'].invalid">
            {{getErrorMessage('firstName', 'First name')}}
          </div>
        </div>

        <div class="form-control">
          <label for="lastName">Last name <span>&#42;</span></label>
          <input id="lastName" type="text" formControlName="lastName">
          <div class="error" *ngIf="cvForm.controls['lastName'].invalid">
            {{getErrorMessage('lastName', 'Last name')}}
          </div>
        </div>

        <div class="form-control">
          <label for="lastName">Current Position <span>&#42;</span></label>
          <input id="currentPosition" type="text" formControlName="currentPosition">
          <div class="error" *ngIf="cvForm.controls['lastName'].invalid">
            {{getErrorMessage('currentPosition', 'Current Position')}}
          </div>
        </div>
      </section>

      <section>
        <div class="form-control">
          <label for="country">Country <span>&#42;</span></label>
          <input id="country" type="text" formControlName="country">
          <div class="error" *ngIf="cvForm.controls['country'].invalid">
            {{getErrorMessage('country', 'Country')}}
          </div>
        </div>

        <div class="form-control">
          <label for="city">City <span>&#42;</span></label>
          <input id="city" type="text" formControlName="city">
          <div class="error" *ngIf="cvForm.controls['city'].invalid">
            {{getErrorMessage('city', 'City')}}
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
