// Project variables
$font-family: Roboto, "Helvetica Neue", sans-serif;
$font-size: 16px;

$container-width: 1320px;

$large-padding: 60px;

$large-radius: 20px;
$medium-radius: 10px;
$small-radius: 5px;

$bg-color-grey: #f4f4f5;
$bg-color-dark-grey: #bcc9d1;
$bg-color-white: #fff;
$black: #303030;
$white: #fff;
$red: #e04a57;
$green-yellow: rgb(173, 255, 47);

$dark-secondary-text: rgba(0,0,0,.54);

$border-hover-color: darken($bg-color-grey, 25%);
