@import "~@material/layout-grid/mdc-layout-grid";

/* You can add global styles to this file, and also import other style files */
@import "css-variables";

html, body { height: 100%; }
body { margin: 0; font-family: $font-family; font-size: $font-size }

.icon-hover {
  padding: 10px;

  &:hover {
    background-color: $bg-color-grey;
    border-radius: 50%;
  }
}

mat-icon {
  cursor: pointer;
}

.count {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  font-size: 12px;
  font-weight: 700;
  color: $white;
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: $red;
  border-radius: 50%;
  border: 2px solid $white;

  transition: transform 0.2s ease-out;
  transform: scale(0);
}

.count.bubble {
  transform: scale(1);
}
